{% include 'Store/base.html' %}
{% load static %}

{% block content %}
    <section class="info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card mb-3 glass">
                    <div class="row no-gutters">
                    {% for i in info %}
                        <div class="col-md-5">
                            <img src="{{ i.image.url }}" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h2 class="card-title">{{ i.item }}</h2>
                                <hr>
                                <h6 class="price">Kshs {{ i.price }}</h6>
                                <hr>
                                <a href="{% url 'cart' i.pk %}" class="btn btn-block btn-primary">Add to cart</a>
                                <a href="{% url 'home' %}" class="btn btn-block btn-success">Back Home</a>
                                <br>
                                <span class="des">Description</span>
                                <hr>
                                <p class="card-text">{{ i.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}